/* carousel */
#quote-carousel {
  padding: 20px 10px 30px 10px;
  margin-top: 200px;
  text-align: center;
  min-height: 250px;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height: 10px;
  width: 10px;
  margin-bottom: 1px;
}
/* typography */
h1 {
  text-align: center;
  margin-bottom: -20px !important;
}
p {
  font-style: italic;
}

/* Quote Block  */
.quoteblock {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.76),
      rgba(255, 255, 255, 0.76)
    ),
    url("/img/green.jpg");
  font-size: 25px;
  min-height: 65vh;
  min-width: 48vw;
  background-repeat: no-repeat;
  background-size: cover;
}
